<nav class="bg-white shadow-md sticky top-0 z-50">
        <div class="container mx-auto px-24 py-6 flex justify-between items-center">
            <div class="flex items-center space-x-2">
                <i class="fas fa-child text-blue-500 text-2xl"></i>
                <span class="text-xl font-bold text-blue-800">HealthyGrowth</span>
            </div>
            <div class="hidden md:flex space-x-4">
                <a href="#home" class="text-blue-600 font-medium hover:text-blue-800 hover:bg-blue-100 rounded px-2 py-1 transition">Home</a>
                <a href="#about" class="text-blue-600 font-medium hover:text-blue-800 hover:bg-blue-100 rounded px-2 py-1 transition">About Stunting</a>
                <a href="#prevention" class="text-blue-600 font-medium hover:text-blue-800 hover:bg-blue-100 rounded px-2 py-1 transition">Prevention</a>
                <a href="#resources" class="text-blue-600 font-medium hover:text-blue-800 hover:bg-blue-100 rounded px-2 py-1 transition">Resources</a>
                <a href="{% url 'login' %}" class="bg-blue-600 text-white font-semibold rounded-lg px-4 py-2 hover:bg-blue-700 transition duration-300 shadow-md">Jadwal</a>
            </div>

            <button class="md:hidden text-blue-600" id="mobile-menu-button">
                <i class="fas fa-bars text-2xl"></i>
            </button>
        </div>
        <!-- Mobile menu -->
        <div class="md:hidden hidden bg-white w-full px-6 py-2" id="mobile-menu">
            <a href="#home" class="block py-2 text-blue-600 hover:text-blue-800">Home</a>
            <a href="#about" class="block py-2 text-blue-600 hover:text-blue-800">About Stunting</a>
            <a href="#prevention" class="block py-2 text-blue-600 hover:text-blue-800">Prevention</a>
            <a href="#resources" class="block py-2 text-blue-600 hover:text-blue-800">Resources</a>
            <a href="#contact" class="block py-2 text-blue-600 hover:text-blue-800">Contact</a>
        </div>
    </nav>