<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
    
    {% include 'component/navbar_dashboard.html' %}
    
    <main class="flex-grow container mx-auto p-6">
        
        {% if request.user.role == 'admin' %}
        {% include 'fragment/admin_dashboard.html' %}
        
        
        {% else %}
        {% include 'fragment/user_dashboard.html' %}
        {% endif %}
        
        <div class="bg-white rounded shadow p-16">
            <h2 class="text-xl font-semibold mb-2">Data Imunisasi</h2>
            <p>Konten dashboard dapat ditambahkan sesuai kebutuhan.</p>
        </div>
    </main>
    
    
    {% include 'component/footer_dashboard.html' %}

</body>
</html>
